nav{
    min-height: 100px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--color-1);
}

ul{
    display: flex;
    list-style: none ;
    position: relative;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;

}

a{
    display: block;
    border-radius: 5px;
    padding: 20px;
    text-decoration: none;
    color: var(--color-2);
    font-size: 20px;
}

a:hover{
    border-radius: 5px;
    color: var(--color-3);
    background-color: var(--color-2);
}
