<form>
    
    <label>CPF</label>
    <input type="text" name="cpf" id="cpf">

    <label>Especialidade</label>
    <select name="especialidade" id="especialidade">
        <option></option>
    </select>
    

    <label>Médico</label>
    <select name="medico" id="medico">
        <option></option>
    </select>
    
    <label>Data</label>
    <input type="date" name="data" id="data">

    <label>Horário</label>
    <input type="email" name="horario" id="horario">

    <input type="submit" value="Finalizar">
    
</form>