<section>
    <form>

        <h1>Cadastrar paciente</h1>

        <label class="form-label" for="nome">Nome</label>
        <input class="form-control" type="text" name="nome" id="nome">

        <label class="form-label" for="cpf">CPF</label>
        <input class="form-control" type="text" name="cpf" id="cpf">

        <label class="form-label" for="email">E-mail</label>
        <input class="form-control" type="email" name="email" id="email">

        <label class="form-label" for="data">Data de Nascimento</label>
        <input class="form-control" type="date" name="data" id="data">


        <input class="btn btn-primary mt-3" type="submit" value="Cadastrar">
        
    </form>
</section>