<section>
    <form>

        <h1>Marcar Consulta</h1>

        <label class="form-label" for="cpf">CPF</label>
        <input class="form-control" type="text" name="cpf" id="cpf">

        <label class="form-label" for="especialidade">Especialidade</label>
        <select class="form-control" name="especialidade" id="especialidade">
            <option selected>Selecione especialidade</option>
            <option value="1"></option>
            <option value="2"></option>
        </select>
        

        <label class="form-label" for="medico">Médico</label>
        <select class="form-control" name="medico" id="medico">
            <option selected>Selecione Médico</option>
            <option value="1"></option>
            <option value="2"></option>
        </select>
        
        <label class="form-label" for="data">Data</label>
        <input class="form-control"  type="date" name="data" id="data">

        <label class="form-label" for="horario">Horário</label>
        <select class="form-control"  name="horario" id="horario">
            <option selected>Selecione Horário</option>
            <option value="1"></option>
            <option value="2"></option>
        </select>

        <input type="submit" class="btn btn-primary mt-3" value="Finalizar">
        
    </form>
</section>